# Discord
discord.py[voice]
dpy-ui
disputils

# Color Stuff
colorama
termcolor

# Database
pymongo
dnspython

# Misc
favicon

# VSCODE
pylint
autopep8

# Web Scraping
BeautifulSoup4

# APIS
praw

# Chatbot
ChatterBot
chatterbot_corpus
